:root {
    --colors-primary: #7CBA32;
    --colors-white: #ffffff;
    --colors-grayLight: #F3F3F3;
    --colors-black: #19171A;
}

body::-webkit-scrollbar {
    width: 0px;               /* width of the entire scrollbar */
}

body { 
    background: #F3F3F3;
}

@tailwind base;
@tailwind components;
@tailwind utilities;